# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configurations and scripts you may want to
# customize. In general, it should not be checked into source control, but so
# long as it is in your project it's OK to check it in if you want.
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_settings.json
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Executable python script
gen_snapshot

# Android related
**/android/local.properties
**/android/key.properties
**/android/app/src/main/res/raw/app_config.json
**/android/app/src/main/assets/app_config.json
**/android/app/google-services.json

# Symbols and settings for the libvpx library
.vpx_config
